.Toastify__toast-container {
  top: 10%;
  border-radius: 30px;
  padding-left: 30px;
  padding-right: 20px;
  transform: 'translate(0%, -50%)';
}

.Toastify__toast {
  width: auto !important;
  height: auto !important;
  padding-left: 30px;
  padding-right: 30px;
  background-color: rgba(96, 96, 96, 0.95);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  border-radius: 25px;
}
