@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Reset & Global Styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
}

.mobile-container {
  width: 100vw;
  min-width: 320px; /* 최소 너비는 min-width */
  height: 100%;
  background: #ffffff;
  border: 1px solid #ddd;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* PC 화면에서 스케일 조정 */
@media (min-width: 600px) {
  .mobile-container {
    width: 600px; /* 고정된 모바일 너비 */
    height: 100%; /* 고정된 모바일 높이 */
    background: #ffffff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 auto;
    position: relative; /* 부모컨테이너이므로 relative 설정 */
  }
}
